.exam-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  overflow-x: auto;
  padding-bottom: 16px;
}

.card {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  padding: 24px;
  margin: 2px;
  border-radius: 10px;
  background: #212121;
  border: 2px solid #313131;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
  flex: 0 0 320px;
  min-width: 280px;
}

.content {
  display: flex;
  flex-direction: column;
  color: #e8e8e8;
  transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
}

.content .badge-certified {
  position: absolute;
  top: 0;
  right: 10px;
  transform: translate(0, -50%);
  border-radius: 4px;
  background: #0974f1;
  padding: 4px 8px;
  font-size: 12px;
  font-weight: bold;
}

.content .heading {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  margin: 0;
}

.content .check-list {
  padding-inline-start: 0;
  margin: 0 0 auto;
}

.content .check-list li {
  display: flex;
  margin: 10px 0;
  gap: 8px;
  list-style: none;
}

.content .check-list li:before {
  content: "";
  display: block;
  flex-shrink: 0;
  width: 20px;
  height: 20px;
  background: url("/images/check_list.svg") no-repeat left center;
  background-size: contain;
}

.content .para {
  line-height: 1.5;
}

.content .btn {
  color: #e8e8e8;
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  margin-top: 16px;
  border: none;
  cursor: pointer;
  background: #0974f1;
  border-radius: 5px;
  text-align: center;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.content .btn.disabled {
  color: #999; /* Change the text color to gray */
  cursor: not-allowed; /* Change cursor to 'not-allowed' */
  background: #ccc; /* Change background color to light gray */
  box-shadow: none; /* Remove box shadow */
  pointer-events: none; /* Disable pointer events */
}

.card:hover {
  box-shadow: 0 0 20px rgba(9, 117, 241, 0.8);
  border-color: #0974f1;
}

.content .btn:hover {
  outline: 2px solid #e8e8e8;
  background: transparent;
  color: #e8e8e8;
}

.questions-settings {
  margin-top: 16px;
}

.card .content .questions-input {
  color: #333;
  border-radius: 5px;
  border-style: none;
}

.card .hint {
  font-size: smaller;
  margin-top: 0;
}

@media (max-width: 1300px) {
  .card {
    flex: 0 0 280px;
  }
}


@media (max-width: 450px) {
  .card {
    flex: 0 0 260px;
    min-width: 260px;
  }
}
