<script async defer src="https://buttons.github.io/buttons.js"></script>
<!-- Star Icon -->
<a class="github-button" href="https://github.com/FidelusAleksander/githubcertified" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-star" data-show-count="true" aria-label="Star FidelusAleksander/githubcertified on GitHub">Star</a>
<!-- Fork icon -->
<a class="github-button" href="https://github.com/FidelusAleksander/githubcertified/fork" data-color-scheme="no-preference: light; light: light; dark: dark;" data-icon="octicon-repo-forked" data-show-count="true" aria-label="Fork FidelusAleksander/githubcertified on GitHub">Fork</a>
