<script
src="https://cdn.jsdelivr.net/npm/quizdown@0.6.0/public/build/quizdown.js">
</script>
<script
src="https://cdn.jsdelivr.net/npm/quizdown@0.6.0/public/build/extensions/quizdownKatex.js">
</script>
<script
src="https://cdn.jsdelivr.net/npm/quizdown@0.6.0/public/build/extensions/quizdownHighlight.js">
</script>
<script>
    let urlParams = new URLSearchParams(window.location.search);
    let nQuestionsParam = urlParams.get('questions');

    let config = {
        startOnLoad: true,          // detect and convert all div html elements with class quizdown
        shuffleAnswers: true,      // shuffle answers for each question
        shuffleQuestions: true,    // shuffle questions for each quiz
        nQuestions: nQuestionsParam ? parseInt(nQuestionsParam) : {{ with .Page.Params.nQuestions }} {{ . }} {{ else }} undefined {{ end }},      // display n questions at random, if shuffleQuestions is true
        primaryColor: 'steelblue',  // primary CSS color
        secondaryColor: '#f2f2f2',  // secondary CSS color
        textColor: 'black',         // text color of some elements
        locale: null                // language of the user interface (auto-detect per default)
    };
    quizdown.register(quizdownHighlight).register(quizdownKatex).init(config)
</script>
