<div style="display: flex; justify-content: center;">
    <div style="flex: 25%; padding: 5px;">
        <a href="https://www.credly.com/org/github/badge/github-administration">
            <img src="/images/admin_badge.png" alt="Image 1" style="max-width: 100%;">
        </a>
    </div>
    <div style="flex: 25%; padding: 5px;">
        <a href="https://www.credly.com/org/github/badge/github-actions">
            <img src="/images/actions_badge.png" alt="Image 2" style="max-width: 100%;">
        </a>
    </div>
    <div style="flex: 25%; padding: 5px;">
        <a href="https://www.credly.com/org/github/badge/github-advanced-security">
            <img src="/images/advanced_security_badge.png" alt="Image 3" style="max-width: 100%;">
        </a>
    </div>
    <div style="flex: 25%; padding: 5px;">
        <a href="https://www.credly.com/org/github/badge/github-advanced-security">
            <img src="/images/foundations.png" alt="Image 3" style="max-width: 100%;">
        </a>
    </div>
</div>
