<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/practice-tests.css">
    </head>
<body>
    <div class="exam-container">
        <div class="exam-box">
            <img class="exam-image" src="/images/advanced_security_badge.png" alt="GitHub Exam 1">
            <a class="exam-disabled">Not available</a>
        </div>

        <div class="exam-box">
            <img class="exam-image" src="/images/actions_badge.png" alt="GitHub Exam 2">
            <a class="exam-link" href="start-exam2.html">Start Exam</a>
        </div>

        <div class="exam-box">
            <img class="exam-image" src="/images/admin_badge.png" alt="GitHub Exam 3">
            <a class="exam-disabled">Not available</a>
                   
        </div>
    </div>
</body>
</html>
