<link rel="stylesheet" href="/css/practice-tests.css">
<div class="exam-container">
    
{{ range where .Site.RegularPages "Section" "practice_tests" }}
{{ $include_exam := .Page.Params.include_exam }}
    <div class="card">
        <div class="content">
            <img src="/images/{{.Params.badge}}" alt="advanced_security_badge" style="max-width: 100%;">
            {{ $question_count := len (where (where .Site.RegularPages "Section" "questions") "Params.exam" $include_exam) }}
            
            <ul class="check-list">
                {{ if gt $question_count .Page.Params.defaultQuestionsAmount }}
                    <li>{{ .Page.Params.defaultQuestionsAmount }} Questions</li>
                {{ else }}
                    <li>{{ $question_count }} Questions</li>
                {{ end }}
                
                {{ range .Page.Params.domains }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
            {{ if gt $question_count 30 }}
                <a href="{{ .Permalink }}" class="btn">Start</a>
            {{ else }}
                <a href="/" class="btn disabled">Unavailable</a>
            {{ end }}
        </div>
    </div>

{{ end }}
