<link rel="stylesheet" href="/css/practice-tests.css">
<div class="exam-container">
    
{{ range where .Site.RegularPages "Section" "practice_tests" }}
{{ $exam := .Page.Params.exam }}
    <div class="card">
        <div class="content">
            <img src="/images/{{.Params.badge}}" alt="advanced_security_badge" style="max-width: 100%;">
            {{ $question_count := len (where (where .Site.RegularPages "Section" "questions") "Params.exam" $exam) }}
            
            <ul class="check-list">
                {{ if gt $question_count 1 }}
                    <li>{{ $question_count }} Questions</li>
                {{ else }}
                    <li>{{ $question_count }} Question</li>
                {{ end }}
                
                {{ range .Page.Params.domains }}
                    <li>{{ . }}</li>
                {{ end }}
            </ul>
            {{ if gt $question_count 30 }}
                <a href="{{ .Permalink }}" class="btn start-button">Start</a>
            {{ else }}
                <a href="/" class="btn disabled">Unavailable</a>
            {{ end }}
        </div>
    </div>

{{ end }}
</div>

<h4>Advanced settings</h4>
<section class="advanced-settings">
    <script>
        function setNumberOfQuestions(numberOfQuestions) {
            var links = document.getElementsByClassName('start-button');

            for (var i = 0; i < links.length; i++) {
                var url = new URL(links[i].href);
                var params = new URLSearchParams(url.search);
                params.set('questions', numberOfQuestions ? parseInt(numberOfQuestions, 10) : '');
                links[i].href = url.origin + url.pathname + '?' + params.toString();
            }
        }
    </script>

    <label for="numberOfQuestions">Limit number of questions. Leave blank for all questions.</label>
    <input 
        type="number" 
        value="" 
        step="1"
        id="numberOfQuestions" 
        placeholder="Number or blank for all" 
        onchange="setNumberOfQuestions(this.value)"
    />
</section> 
