name: PR Checks

on:
  pull_request:
    branches: [ master ]

jobs:
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6
      - uses: pre-commit/action@2c7b3805fd2a0fd8c1884dcaebf91fc102a13ecd # v3.0.1
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: streetsidesoftware/cspell-action@d9d0f79179c045442b634e75bbbd5d72c03d7780 # v8
        with:
          files: 'content/en/**/*.md'
          config: 'cspell.json'
          # Log progress and other information during the action execution.
          verbose: true
          # Determines if the action should be failed if any spelling issues are found.
          strict: true
          # Limit the files checked to the ones in the pull request or push.
          incremental_files_only: true
