name: PR Checks

on:
  pull_request:
    branches: [ master ]

jobs:
  check-links:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Link Checker
        uses: lycheeverse/lychee-action@v2.4.0
        with:
          args: --verbose --no-progress './**/*.md' './**/*.html' --exclude-all-private --exclude 'file:///*'
          fail: true
  pre-commit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
      - uses: pre-commit/action@v3.0.1
  spell-check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: streetsidesoftware/cspell-action@v7
        with:
          files: 'content/**/*.md'
          config: 'cspell.json'
          # Log progress and other information during the action execution.
          verbose: true
          # Determines if the action should be failed if any spelling issues are found.
          strict: true
          # Limit the files checked to the ones in the pull request or push.
          incremental_files_only: true
