name: Preview Build

on:
  pull_request:
    types:
      - labeled

permissions:
  contents: read

jobs:
  build:
    name: Build Hugo Site
    if: github.event.label.name == 'request-preview-deployment'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout PR code
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          submodules: recursive
          fetch-depth: 0

      - name: Setup Hugo
        uses: peaceiris/actions-hugo@75d2e84710de30f6ff7268e08f310b60ef14033f # v3.0.0
        with:
          hugo-version: '0.145.0'

      - name: Build site
        run: hugo

      - name: Upload build artifacts
        uses: actions/upload-artifact@v6
        with:
          name: hugo-build
          path: public/
          retention-days: 1

